.banner{
    .slide1, .slide2{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 100vh;
    }

    .frame-bottom{
        position: absolute;
        bottom: -2px;
        background-image: url(../images/frame-bottom.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        width: 100%;
        height: 242px;
    }
}