.main-footer{
    margin: 70px 0 0 0;
    padding: 180px 0 0 0;
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 420px;
    color: #fff;

    h5{
        font-size: 18px;
    }

    .btn-wa{
        position: fixed;
        z-index: 100;
        right: 80px;
        bottom: 60px;
        display: inline-flex;
        align-items: center;
        margin: 0 0 38px 0;
        padding: 10px 15px;
        border-radius: 50px!important;
        background-color: #4caf50;
        width: auto;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        i{
            margin-right: 10px;
            font-size: 24px;
        }
    }

    .form-control{
        background-color: transparent;
        font-size: inherit;
        color: #fff;
    }

    .form-control::-webkit-input-placeholder {
        color: #fff;
    }
    .form-control:-moz-placeholder {
        color: #fff;
    
    }
    .form-control::-moz-placeholder {
        color: #fff;
    
    }

    hr{
        border-color: #fff;
    }
}

.social {
    display: inline-block;
    margin: 15px 0 5px 10px;
    border-radius: 3px!important;
    background-color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    i {
      font-size: 18px;
      color: #fff;
    }
}

.facebook{
    background-color: #4267b2;
}

.instagram{
    background-color: #E1306C;
}

.copyright{
    font-size: 11px;
    text-align: center;
}